<div class="wrapper fadeInDown" (keyup.enter)="f.form.valid && onSubmit()">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/loginPNG.png"  id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <input type="text" id="login" [(ngModel)]="user.username" class="fadeIn second" name="login" placeholder="login">
        <input type="password" id="password" [(ngModel)]="user.password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" (click)="loginButton" class="fadeIn fourth" value="Log In">
      </form>
  
    </div>
</div>