#cinemaMap {
    height: 400px;
    width: 100%;
}

.carousel-imgs {
    width: 100%;
}


.carousel_color {
    color: rgb(71, 71, 71);
}

#cinemaMap {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(35,35,51,0.7);
    -moz-box-shadow: 0px 0px 24px 2px rgba(35,35,51,0.7);
    box-shadow: 0px 0px 24px 2px rgba(35,35,51,0.7);
}
