.container {
  padding-top: 90px;
  padding-bottom: 100px;
  min-height: 100vh;
  background: white;
}

.example-card {
    max-width: 200px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

