<nav class="navbar shadow navbar-light bg-light fixed-top navbar-expand-lg mt-3" id="my-nav">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Mackenzie_M.png" width="40" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cinemas" routerLinkActive="active">Cinemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sessions" routerLinkActive="active">Sessions</a>
        </li>
      </ul>


      <div class="right-side d-flex">
        <ul class="navbar-nav">

          <li *ngIf="true" class="nav-item">
            <a class="nav-link login" routerLink="/login" routerLinkActive="active">
              Login
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>

          <li *ngIf="false" class="nav-item dropdown" >
            <div ngbDropdown class="d-inline-block">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
                <img src="../../../assets/admin.png" width="45" class="rounded-circle admin">
                <span class="username-top">  Mouad  </span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="/profile">Compte</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="logout()" >Se déconnecter</button>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
