<div fxFlexFill class="bg-light">
    <!-- Footer -->
<div class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1 btn_sc" href="mailto:me.mounach@gmail.com" target="_blank">
            <i class="fab fa-google"></i>
          </a>
        </li>
        
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1 btn_sc" href="https://www.linkedin.com/in/0mounach0/" target="_blank">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>

        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1 btn_sc" href="https://github.com/0mounach0" target="_blank">
                <i class="fab fa-github"></i>
            </a>
          </li>
      </ul>

    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
      <a href=""> mounach.com</a>
    </div>
</div>
</div>
