<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">

    <nav class="navbar navbar-light bg-light">
        <div></div>
        <div class="right-side d-flex">
            <ul class="navbar-nav">
                
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search search"></i>
                    <i class="fas fa-plus-square plus" (click)="openCreateModal(content)"></i>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">Create new cinema</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                              <label for="desc">Description</label>
                              <input type="text" class="form-control" id="desc" placeholder="Description">
                            </div>
                            <div class="form-group">
                              <!--  -->
                            </div>
                            <div class="form-group">
                              <label for="long">Longitude</label>
                              <input type="text" class="form-control" id="long" placeholder="Longitude">
                            </div>
                            <div class="form-group">
                              <label for="lat">Latitude</label>
                              <input type="text" class="form-control" id="lat" placeholder="Latitude">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-primary" (click)="createCinema()">Create</button>
                        </div>
                    </ng-template>
                </form>
            </ul>
        </div>
    </nav>

    <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">

        <ng-container *ngFor="let cinema of cinemas">
    
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{cinema.name}}</mat-card-title>
                  <mat-card-subtitle>Paris 19eme</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <div fxLayout="row" fxLayoutAlign="end stretch" >
                        <i class="fas fa-trash-alt delete" (click)="openDeleteModal(content)"></i>
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Are you sure you want to delete it !</h4>
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger" (click)="deleteCinema(cinema.id)">Confirm delete</button>
                            </div>
                          </ng-template>
                          
                        <i class="fas fa-edit edit"></i>
                    </div>
                </mat-card-actions>
            </mat-card>
    
        </ng-container>
    
    </div>

</div>

